<!-- src/app/shared/main-layout/main-layout.component.html -->
<div class="layout-container">
  <app-sidebar class="sidebar"></app-sidebar>
  <div class="content">
    <div class="header">
      <div class="header-content">
        <div class="user-info">
          <span>{{ user?.username }}</span>
          <button class="user-menu-btn" (click)="logout()">
            <i class="material-icons">exit_to_app</i>
          </button>
        </div>
      </div>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>